.dashbard-wrapper {
  text-align: center;
}

.welcome-main-header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.welcome-user {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  margin: 1rem 0;
}
